libs filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
awsTest.java filter=lfs diff=lfs merge=lfs -text
libs/awssdk filter=lfs diff=lfs merge=lfs -text
libs/etclib filter=lfs diff=lfs merge=lfs -text
libs/http filter=lfs diff=lfs merge=lfs -text
libs/jackson filter=lfs diff=lfs merge=lfs -text
libs/awssdk/aws-java-sdk-1.11.643-sources.jar filter=lfs diff=lfs merge=lfs -text
libs/jackson/jackson-core-2.10.0.pr3.jar filter=lfs diff=lfs merge=lfs -text
libs/jackson/jackson-databind-2.10.0.pr3.jar filter=lfs diff=lfs merge=lfs -text
libs/etclib/org-apache-commons-logging.jar filter=lfs diff=lfs merge=lfs -text
libs/http/httpclient-4.5.10.jar filter=lfs diff=lfs merge=lfs -text
libs/http/jna-platform-4.5.2.jar filter=lfs diff=lfs merge=lfs -text
libs/jackson/jackson-annotations-2.10.0.pr3.jar filter=lfs diff=lfs merge=lfs -text
libs/http/httpclient-win-4.5.10.jar filter=lfs diff=lfs merge=lfs -text
libs/awssdk/aws-java-sdk-1.11.643.jar filter=lfs diff=lfs merge=lfs -text
libs/etclib/joda-time-2.0.jar filter=lfs diff=lfs merge=lfs -text
libs/http/commons-codec-1.11.jar filter=lfs diff=lfs merge=lfs -text
libs/http/commons-logging-1.2.jar filter=lfs diff=lfs merge=lfs -text
libs/http/fluent-hc-4.5.10.jar filter=lfs diff=lfs merge=lfs -text
libs/http/httpclient-osgi-4.5.10.jar filter=lfs diff=lfs merge=lfs -text
libs/awssdk/aws-java-sdk-1.11.643-javadoc.jar filter=lfs diff=lfs merge=lfs -text
libs/http/httpclient-cache-4.5.10.jar filter=lfs diff=lfs merge=lfs -text
libs/http/httpcore-4.4.12.jar filter=lfs diff=lfs merge=lfs -text
libs/http/httpmime-4.5.10.jar filter=lfs diff=lfs merge=lfs -text
libs/http/jna-4.5.2.jar filter=lfs diff=lfs merge=lfs -text
